<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
        </ol>
      </nav>
</div>
<div class="container titulo">
    <span>Usuarios</span>
  </div>
  <div class="container">
    <div class="cabecera">
      <div class="campo"><p>Nombre</p></div>
      <div class="campo"><p>Correo electrónico</p></div>
      <div class="campo"><p>Rol usuario</p></div>
    </div>
    <div *ngFor="let usuario of usuarios">
      <div class="fila">
        <div class="campo">{{usuario.nombre}}</div>
        <div class="campo">{{usuario.email}}</div>
        <div class="campo">{{usuario.rol}}</div>
      </div>
    </div>
  </div>