<!-- hacer una barra lateral -->
<div class="barra-fija">
  <div title="Cientes" routerLink="/listado-proveedores">
    <i class="fas fa-address-book"></i>
  </div>
  <div title="Facturas" routerLink="/listado-fact">
    <i class="far fa-money-bill-alt"></i>
  </div>
</div>
<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Ventas</li>
        </ol>
      </nav>
</div>
<div class="col-md-12">
  <a routerLink="/listado-clientes">Clientes</a>
  <a routerLink="/listado-presupuestos">Presupuestos</a>
</div>
<div class="col-md-12 titulo">
    <span>Dashboard</span>
  </div>
